@use 'variaveis';

.hero{
    &__content{

        @media (max-width: 767px){
            flex-direction: column-reverse;
        }
        &__presentetion{
            .social_links{
                display: flex;
                justify-content: space-between;

                a {
                    
                    i{
                        display: inline-block;
                        transition: transform 0.3s ease, opacity 0.3s ease; 
                        font-size: 40px;
                        &:hover{
                            transform: scale(1.2);
                        }

                        @media (max-width: 767px) {
                            font-size: 24px;
                        }
                    }
                    
                }
            }
            .download-cv {
                text-decoration: none;
                display: flex;
                justify-content: center;
                margin-top: 20px;
                border: 2px solid variaveis.$highlightsText;
                border-radius: 100px;
                padding: 8px;
                animation: leaveEffect 0.3s ease forwards;
                color: #fff;
                
                i {
                    margin-left: 16px;
                }
            
                &:hover {
                    animation: hoverEffect 0.3s ease forwards;
                    color: variaveis.$principalColor;
                    background-color: variaveis.$highlightsText;
                }
                @keyframes hoverEffect {
                    0% {
                        color: initial;
                        background-color: initial;
                    }
                    100% {
                        color: variaveis.$principalColor;
                        background-color: variaveis.$highlightsText;
                    }
                }
                @keyframes leaveEffect {
                    0% {
                        color: variaveis.$principalColor;
                        background-color: variaveis.$highlightsText;
                    }
                    100% {
                        color: variaveis.$highlightsText;
                        background-color: initial;
                    }
                }
            }
        }
        img{
            width: 350px;
            border-radius: 100%;
            transform: rotate(-20deg);

            @media (max-width: 767px){
                width: 150px;
            }
        }
        
    }
    &__about{
        flex-direction: column;
        
        &__nav{
            margin-bottom: 16px;

            .nav-item{
                cursor: pointer;
                transition: all 1s;

                &--is-active{
                    border-bottom: 1px solid white;
                    transition: all 1s;
                }
            }
        }
        .formation,
        .experience,
        .container-ability{
            color: #fff;
        }
        .container-ability{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 32px;
            @media (max-width: 767px) {
                display: block;
            }
        }
        .tab-pane {
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
        }
        
        .tab-pane.active {
            opacity: 1 ;
        }
    }
}