.hero{
    &__content{
        height: 80vh;

        @media (max-width: 767px){
            flex-direction: column-reverse;
        }
        &__presentetion{
            @media (max-width: 767px) {
            }
            .social_links{
                display: flex;
                justify-content: space-between;

                a{
                    i{
                        font-size: 40px;

                        @media (max-width: 767px) {
                            font-size: 24px;
                        }
                    }
                }
            }
        }
        img{
            width: 350px;
            border-radius: 100%;
            transform: rotate(-20deg);

            @media (max-width: 767px){
                width: 150px;
            }
        }
    }
    &__about{
        flex-direction: column;
        
        &__nav{
            margin-bottom: 16px;

            .nav-item{
                cursor: pointer;
                transition: all 1s;

                &--is-active{
                    border-bottom: 1px solid white;
                    transition: all 1s;
                }
            }
        }
        .tab-pane {
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
        }
        
        .tab-pane.active {
            opacity: 1 ;
        }
    }
}